################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/npm-debug.log
appCompiled/
node_modules/