<div class="jumbotron">

    <h1>Lasantha Bandara</h1>
    <p>Lasantha is a passionate Full Stack Engineer with more than 5 years of experience in Professional Software Development. His most favourite technologies are <strong>Html5, Css3, Javascript(ES6), React & Redux, Angular, DurandalJs, KnockoutJs, RequireJs, Jquery, Bootstrap, Asp.Net(MVC/Web API), OAuth, C#, Entity Framework, T SQL, SQL Server etc.</strong></p>
    <p><a class="btn btn-primary btn-lg" routerLink="/about" role="button">Learn More &raquo;</a></p>

</div>
<!--<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </div>
</div>-->
